line-bot-sdk
flask
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
python-dotenv
requests
PyDrive
pyOpenSSL
httplib2
uritemplate
WebTest
future
pytest
pytest-pep8
pytest-cov
responses
tox
wheel
sphinx
sphinx_rtd_theme
pypandoc
twine
